/.idea/
/src/main/resources/botData.properties
/src/main/resources/phonesInfo.properties
/src/main/resources/Samsung_Календарь акций.xlsx
/src/main/resources/
/out/
/target/
/src/test/java/nosimo/promobot/bot/
